<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/adminHeader'); %>

    <body>

        <%- include('../layouts/adminNavbar'); %>
            <br>

            <h2 class="pageTitle">Categories</h2>
            <input id="backButton" type="button" value="Back" onclick="history.go(-1)">
            <a id="addCategory" href="/admin/categories/addCategory" class="btn btn-primary">Add a new category </a>
            <br><br>

            <table class="p-3 table table-striped">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>
                    <% categories.forEach(function(cat) { %>
                        <!-- the table rows will be sortable via jQuery UI sortable-->
                        <tr>
                            <td>
                                <%= cat.title %>
                            </td>
                            <td> <a href="/admin/categories/editCategory/<%= cat.title %>">Edit</a></td>
                            <td> <a class="confirmDeletion"
                                    onclick="return confirm('Are you sure you want to delete?');"
                                    href="/admin/categories/deleteCategory/<%= cat._id %>">Delete</a></td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>



            <%- include('../layouts/adminFooter'); %>



    </body>

</html>