<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editProduct</title>
</head>

<%- include('../layouts/adminHeader'); %>

    <h2 class="pageTitle">Edit a product</h2>
    <br>
    <a href="/admin/products" class="btn btn-primary">Back to all product </a>
    <br><br>

    <!-- Creates the form to edit existing products, based on the work of easylearning97 - start
                 @author easylearning97 
                 @see https://www.youtube.com/watch?v=5b3-fAufjEk&list=PL78sHffDjI75uMmHCqxil_YROcHl5ONNj -->
    <form action="/admin/products/editProduct/<%= id %>" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" name="title" value="<%= title %>" pattern="[a-zA-Z0-9_ ]*"
                placeholder="Title">
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="description" pattern="[a-zA-Z0-9_ ]*"
                placeholder="Description"><%= description %> </textarea>
        </div>

        <div class="form-group">
            <label>Category</label>
            <select name="category" class="form-control">
                <% categories.forEach(function(cat) { %>
                    <option>
                        <%= cat.title %>
                    </option>
                    <% }); %>
            </select>
        </div>

        <div class="form-group">
            <label>Price</label>
            <input class="form-control" type="number" name="price" value="<%= price %>" placeholder="Price" min="0.01"
                max="9999" step="any">
        </div>

        <div class="form-group">
            <label>Current Image</label>
            <p>
                <% if (image=="" ) { %>
                    <img class="noimage" src="/images/noImage.png" alt="">
                    <% } else {%>
                        <img class="noimage" src="/productImages/<%= id %>/<%= image %>" alt="" width="100" height="100">
                        <% } %>
            </p>
        </div>

        <div class="form-group">
            <label>Upload Image</label>
            <input class="form-control" type="file" name="image" id="img"
                onchange="document.getElementById('imgPreview').src = window.URL.createObjectURL(this.files[0])"><br>

            <!-- code snippet from https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded start -->
            <img id="imgPreview" alt="Choose file to preview image" width="100" height="100" />
            <!-- code snippet from https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded end -->
            <br><br>

            <input type="hidden" name="pimage" value="<%= image %>">
            <!-- <button type="submit" class="btn btn-dark">Submit</button> -->

        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    <!-- Creates the form to edit products based on the work of easylearning97 - end -->



