<%- include('../layouts/adminHeader'); %>

    <h2 class="pageTitle">Pages</h2>
    <a href="/admin/pages/addPage" class="btn btn-primary">Add a new page </a>
    <br><br>

    <table class="table table-striped sorting">
        <thead class="home">
            <tr>
                <th>Title</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            <% pages.forEach(function(page) { %>
                <!-- the table rows will be sortable via jQuery UI sortable-->
                <tr id="id_<%= page._id %>" class="<%= page._id %>">
                    <td>
                        <%= page.title %>
                    </td>
                    <td> <a href="/admin/pages/editPage/<%= page.title %>">Edit</a></td>
                    <% if (page.title === "home" ) { %>
                        <td></td>
                        <% } else {%>

                            <td> <a class="confirmDeletion" href="/admin/pages/deletePage/<%= page._id %>">Delete</a></td>
                            <% } %>
                </tr>
                <% }); %>
        </tbody>
    </table>



    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <script>
        $('tbody').sortable({
            items: "tr:not('.home')",
            placeholder: "ui-state-highlight",
            update: function () {
                const ids =   $('tbody').sortable("serialize");
                const url = "/admin/pages/reorderPages";
                $.post(url, ids);
            }
        });
    </script>



<%- include('../layouts/adminFooter'); %>