<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>All Users</title>

   <!-- font awesome cdn -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

   <!-- custom css file -->
   <link rel="stylesheet" href="css/allUsers.css">

</head>

<body>
    

    <div class="container">
        <h1>All Users</h1>
        <h2>
            <a href="/add_user">Add User</a>
        </h2>
        <% if (registerusers != '') { %>
            <table>
                <tr>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
                <tbody>
                    <% registerusers.forEach((row, index) => { %>
                        <tr>
                            <td><img src="<%= row.image %>" width="50" class="img-thumbnail"></td>
                            <td><%= row.name %></td>
                            <td><%= row.number %></td>
                            <td><%= row.email %></td>
                            <td><%= row.type %></td>
                            <td>
                                <a href="/delete/<%= row._id %>" class="" id="del">Delete</a>
                                <a href="/edit_user/<%= row._id %>" class="" id="edit">Edit</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>       
            <h1>No users found in the database</h1>
        <% } %>    
    </div>

    
</body>
</html>

