<%- include('layouts/adminHeader'); %>
    <div class="container">
        <h1>User Profile</h1>
        <% if (registerusers != '') { %>
            <table>
                <tr>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
                <tbody>
                    <% registerusers.forEach((row, index) => { %>
                        <tr>
                            <td><img src="<%= row.image %>" width="50" class="img-thumbnail"></td>
                            <td><%= row.name %></td>
                            <td><%= row.number %></td>
                            <td><%= row.email %></td>
                            <td><%= row.type %></td>
                            <td>
                                <a href="/edit_user/<%= row._id %>" class="" id="edit">Edit</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>       
            <h1>No users found in the database</h1>
        <% } %>    
    </div>


